<div class="starter-template">
  <h1>{{title}}</h1>
  
  <br/>

  <table class="table">
    <tr>
      <th>Nom</th>
      <th>Coût</th>
      <th>Dexcription</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor='let skill of (skills|async)'>
      <td>{{skill.name}}</td>
      <td>{{skill.cost}}</td>
      <td [innerHTML]="skill.description|markdown"></td>
      <td>
        <a class="btn btn-primary btn-sm" routerLink="/skills/{{skill._id.$oid}}/edit" routerLinkActive="active">Modifier</a>
        <a class="btn btn-danger btn-sm" routerLink="/skills/{{skill._id.$oid}}/delete" routerLinkActive="active">Suppprimer</a>
      </td>
    </tr>
  </table>

  <a class="btn btn-success" routerLink="/skills/new" routerLinkActive="active">Ajouter une compétence</a>
</div>