<div class="starter-template">
  <h2>{{title}}</h2>
  
  <br/>

  <table class="table">
    <tr>
      <th>Nom</th>
      <th>Coût</th>
      <th>Dexcription</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor='let skill of (skills|async)'>
      <td>{{skill.name}}</td>
      <td>{{skill.cost}}</td>
      <td [innerHTML]="skill.description|markdown"></td>
      <td>
        <button pButton type="button" label="Modifier" routerLink="/skills/{{skill._id.$oid}}/edit"></button>
        <button pButton type="button" label="Suppprimer" routerLink="/skills/{{skill._id.$oid}}/delete" class="ui-button-danger"></button>
      </td>
    </tr>
  </table>

  <button pButton type="button" label="Ajouter une compétence" routerLink="/skills/new" class="ui-button-success"></button>
</div>